@charset "utf-8";
/* CSS Document */
body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,h1,h2,h3,h4,h5,h6,fieldset,input,textarea,figure{
	margin:0;
	padding:0;
}
html{
	font-size: 26.67vw;
}
html,body{
	height: 100%;
}
body{
	font-family:"微软雅黑",Arial;
	background:#ffffff;
    flex-direction: column;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
	border: none;
	display: block;
}

// header部分开始
header{
    width:100%;
    height:0.35rem;
    display: -webkit-flex;
    position:relative;
    // background:#5b502c;
}
header .top{
    padding:0.08rem 0.2rem;
    // width:100%;
    display: flex;
    justify-content: space-between;
}
.top button{
    display: block;
    width:3.04rem;
    height:0.3rem;
    background-color:#eeeeee;
    color:#c6c6c8;
    position:relative;
    border:1px solid transparent;
    border-radius:5px;
}
button i{
    position:absolute;
    display: block;
    left:0.10rem;
    top:0.06rem;
}
.top iconfont{
    display:block;
    width: 0.2rem;  
}
header .icon-xiaoxi{
    padding-top:0.08rem;
    padding-left:0.15rem;
    width:0.19rem;
    height:0.14rem;
}

// banner部分开始
banner{
    width:100%;
    height:1.8rem;
    display: -webkit-flex;
    margin-top:0.1rem;
}
banner img{
    width:100%;
    height:1.8rem;
}

// section部分
.section{
	width: 100%;
	-webkit-flex:1;
	overflow-x:hidden;
	overflow-y: scroll;
}

.i icon-shiwu{
    width:0.25rem;
    height:0.25rem;
}

.one{
	width: 100%;
    display: -webkit-flex;
    border-bottom:1px solid #dfdfdf;
    margin-top: 0.2rem;
}
.imgA{
	-webkit-flex:1;
	margin-top: 0.1rem;
	margin-left: 0.16rem;
}

.imgA img{
	width: 0.8rem;
	height: 0.8rem;
}
.one_con{
	width: 3.01rem;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	border-bottom: 1px solid #f0f0f2;
}
.one_con{
	padding-bottom: 0.07rem;
}
.icon-shiwu{
    padding-right: 0.16rem;
}
.icon-tizhong{
    padding-right: 0.16rem;
}
.icon-jiankanghaoxiguan{
    padding-right: 0.16rem;
}
.info{
    padding-left:0.3rem;
}
.info icon-shiwu{
    padding:0.15rem;
}

.one_con h3{
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.35rem;
	font-weight:600;
	font-size: 0.19rem;
}
.one_con .info p{
    line-height: 0.18rem;
    font-size: 0.16rem;
    line-height:0.3rem;
    color:#b3b1b2;
}
.number{
    font-size:0.18rem;
}

.one:last-child .menu_con{
	border-bottom: none;
}

// connet
.connet{
    width: 100%;
    display: -webkit-flex;
}
.exercise{
    padding-left:0.3rem;
    width:60%;

}
.sport_con{
    display: -webkit-flex;
    -webkit-flex:1;
    -webkit-justify-content: space-between;
	border-bottom: 1px solid #f0f0f2;
}
.exercise h3{
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.35rem;
	font-weight:600;
	font-size: 0.19rem;
}
.exercise p{
    line-height: 0.18rem;
    font-size: 0.16rem;
    line-height:0.3rem;
    color:#b3b1b2;
}
.minute{
    font-size: 0.16rem;
    width:40%;
   
}
.minute span{
    display:block;
    padding-top:0.05rem;
    padding-left:0.6rem;
}